// SCSS goes here.

$grey: #808285;
$gizra-orange: #e27058;

header {
  .gizra-logo {
    font-weight: 400;
  }

  .gizra-logo__main {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    color: $gizra-orange;
  }

  .gizra-logo__edu {
    font-size: 42px;
    color: black;
  }

  .gizra-logo__icon {
    
    img {
      height: 50px;
      transform: rotate(12deg);
      margin-bottom: 47px;
      margin-left: -34px;
    }
  }
}

main {
  min-height: 75vh;
  
  .spin_choice__header {
    margin-bottom: 25px;
    font-size: 48px;
    text-align: center;
    color: $grey;
  }
  .spin_choice__choices {
    display: flex;    
    flex-flow: wrap;

  }
  
  .spin_choice__choice {
    text-align: center;
    flex: 1 1 30%;
    margin: 0 auto;
  }
  
  .spin_choice__choice__image {
    img {
      max-width: 300px;
      margin: 15px;
      border: 1px solid $grey;
    }
  }
}