<header class="ui container header">


<div class="ui secondary  menu">
  <a class="item gizra-logo">
      <span class="gizra-logo__main">gizra</span>
      <span class="gizra-logo__edu">EDU</span>
      <span class="gizra-logo__icon"><img src="/assets/images/grad-cap.png" /></span>

  </a>
  <a class="item">
    About OpenScholar
  </a>
  <a class="item">
    Campus Directory
  </a>
  <a class="item">
    Contact Web Services
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

</header>
